* {
  margin: 0px;
  padding: 0px;
}
.col-lg-5,
.col-lg-7,
.col-lg-6,
.col-lg-4,
.col-lg-8,
.col-lg-9,
.col-lg-3,
.col-lg-12 {
  padding: 0px;
}
body {
  background: -webkit-linear-gradient(left, #012f5a 8%, #2989d8 25%, #fff 49%, #207cca 75%, #012f5a 92%);
  display: flex;
  justify-content: center;
}
.container {
  display: flex;
  flex-direction: column;
  width: 960px;
  height: auto;
  margin: 0px 10px;
  padding: 0px;
}
#header {
  display: flex;
  width: 100%;
  height: 120px;
  background-color: #111213;
}
#header .menu {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
#header .menu .search input {
  background-image: url("../../img/search.svg");
  background-repeat: no-repeat;
  background-position: left;
  padding-left: 30px;
  height: 25px;
  margin-bottom: 20px;
  border-radius: 30px;
}
#header .menu .navigation ul {
  display: flex;
  margin: 0px;
}
#header .menu .navigation ul li {
  display: flex;
  color: #fff;
  padding-left: 15px;
  cursor: pointer;
}
.row {
  width: 100%;
  margin: 0px;
  padding: 0px 30px;
}
.header-row {
  width: 100%;
  margin: auto 0px;
  align-items: flex-end;
}
button:hover {
  cursor: pointer;
}
#slider {
  position: relative;
  height: 360px;
}
#slider img {
  position: absolute;
}
.row-quoteSocial {
  display: flex;
  align-items: center;
  width: 100%;
  height: 150px;
  background-color: #111213;
}
.row-quoteSocial .quotetxt p {
  font-size: 26px;
  color: #6f6e6e;
}
.row-quoteSocial .social-icon {
  display: flex;
  justify-content: flex-end;
}
.row-quoteSocial img {
  padding-left: 10px;
  align-self: flex-end;
}
.row-newsboxes {
  display: flex;
  width: 100%;
  background-color: #fff;
  padding: 0px;
}
.row-newsboxes .infoboxes {
  display: flex;
  align-items: center;
  margin-top: 25px;
  padding-bottom: 25px;
}
.row-newsboxes .infoboxes .info {
  margin-left: 25px;
  font-size: 14px;
}
.row-newsboxes .infoboxes .info .date {
  color: #2b82af;
  font-size: 10px;
  margin-top: -10px;
}
.row-newsboxes .infoboxes .info button {
  background-color: #5caad2;
  border-color: #5caad2;
  color: #e2e1e1;
  border-radius: 3px;
  width: 120px;
}
.row-newsboxes .border-line {
  width: 100%;
  height: 1px;
  border: 0;
  background: #f1f1f1;
  background: -webkit-gradient(linear, 0 0, 100% 0, from(#fff), to(#fff), color-stop(50%, #f1f1f1));
}
.row-newsboxes .sidebar {
  background: -moz-linear-gradient(top, #f1f1f1 53%, #fff 100%);
  background: -webkit-linear-gradient(top, #f1f1f1 53%, #fff 100%);
  background: linear-gradient(to bottom, #f1f1f1 53%, #fff 100%);
  display: flex;
  flex-direction: column;
}
.row-newsboxes .sidebar .info-sidebar {
  width: 80%;
  padding-top: 25px;
  padding-left: 25px;
}
.row-newsboxes .sidebar .info-sidebar p {
  margin: 0px;
  font-size: 12px;
}
.row-newsboxes .sidebar .info-sidebar ul li {
  margin-top: 5px;
  list-style: none;
  font-size: 12px;
}
.row-newsboxes .sidebar .info-sidebar a {
  font-size: 12px;
}
.pageoverview {
  background-color: #fff;
  padding: 0px 30px 30px 30px;
}
.pageoverview .showpage {
  color: #6f6e6e;
  background-color: #eee;
  margin-right: 5px;
  padding: 3px 6px;
  font-size: 10px;
}
.pageoverview .active {
  background-color: #c1c1c1;
  color: #fff;
}
.row-sponsor {
  width: 100%;
  display: flex;
  background-color: #fff;
  padding-bottom: 20px;
}
.row-sponsor h4 {
  font-weight: 300;
}
.row-sponsor .sponsorslist {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: row;
}
.row-sponsor img {
  margin-bottom: 5px;
  border: 2px ridge;
}
.row-footer {
  display: flex;
  background-color: #111213;
  justify-content: space-around;
}
.row-footer .footerbox {
  padding-top: 15px;
}
.row-footer .footer-mid,
.row-footer .footer-right {
  padding-left: 30px;
}
.row-footer .footer-titel {
  color: #fff;
}
.row-footer .footer-mid img {
  margin: 4px 2px;
  border: 1px #808080 solid;
}
.row-footer p {
  font-size: 14px;
}
.row-footer .darkgrey {
  color: #6f6e6e;
}
.row-footer .lightgrey {
  color: #c1c1c1;
}
@media screen and (max-width: 960px) {
  .row-quoteSocial {
    justify-content: center;
  }
}
