@import "variables.styl";

//Reset some margins and padding from Bootstrap.
*
  margin 0px
  padding 0px

.col-lg-5, .col-lg-7, .col-lg-6, .col-lg-4, .col-lg-8, .col-lg-9, .col-lg-3, .col-lg-12
  padding 0px

body
  background -webkit-linear-gradient(left, #012f5a 8%,#2989d8 25%,#ffffff 49%,#207cca 75%,#012f5a 92%)
  display flex
  justify-content center

  // Setup the container
.container
    display flex
    flex-direction column
    width 960px
    height auto
    margin 0px 10px
    padding 0px

    // Header section - Navigation
#header
  display flex
  width 100%
  height 120px
  background-color $blackgrey
  .menu
    display flex
    flex-direction column
    align-items flex-end
    .search input
      background-image url("../../img/search.svg")
      background-repeat no-repeat
      background-position left
      padding-left 30px
      height 25px
      margin-bottom 20px;
      border-radius: 30px
    .navigation ul
      display flex
      margin 0px
      li
        display flex
        color $white
        padding-left 15px
        cursor pointer

//  Global settings, to place content correctly
.row
  width 100%
  margin 0px
  padding 0px 30px

.header-row
  width: 100%
  margin auto 0px
  align-items flex-end

button:hover
  cursor:pointer

// Slider section
#slider
  position:relative
  height 360px
  img
    position absolute

// Quote/Social media section
.row-quoteSocial
  display flex
  align-items center
  width 100%
  height 150px
  background-color $blackgrey
  .quotetxt
    p
      font-size $font-l
      color $darkgrey
  .social-icon
    display flex
    justify-content flex-end
  img
    padding-left 10px
    align-self flex-end

// News/articles section
.row-newsboxes
  display flex
  width 100%
  background-color $white
  padding 0px
  .infoboxes
    display flex
    align-items center
    margin-top 25px
    padding-bottom 25px
    .info
      margin-left 25px
      font-size $font-m
      .date
        color $dateBlue
        font-size $font-xs
        margin-top -10px
      button
        background-color $lightblue
        border-color $lightblue
        color $activegrey
        border-radius 3px
        width 120px
  .border-line
    width 100%
    height 1px
    border 0
    background $lightGrey
    background -webkit-gradient(linear, 0 0, 100% 0, from($white), to($white), color-stop(50%, #f1f1f1))

  .sidebar
    background -moz-linear-gradient(top, $lightGrey 53%, #ffffff 100%)
    background -webkit-linear-gradient(top, $lightGrey 53%,#ffffff 100%)
    background linear-gradient(to bottom, $lightGrey 53%,#ffffff 100%)
    display flex
    flex-direction column
    .info-sidebar
      width 80%
      padding-top 25px
      padding-left 25px
      p
        margin 0px
        font-size $font-s
      ul li
        margin-top 5px
        list-style none
        font-size $font-s
      a
        font-size $font-s

// Page overview section
.pageoverview
  background-color $white
  padding 0px 30px 30px 30px

  .showpage
    color $darkgrey
    background-color #EEEEEE
    margin-right 5px
    padding 3px 6px
    font-size $font-xs
  .active
    background-color $grey
    color $white


// Sponsor Section.
.row-sponsor
  width 100%
  display flex
  background-color $white
  padding-bottom 20px
  h4
    font-weight 300
  .sponsorslist
      display flex
      flex-wrap: wrap
      justify-content space-between
      flex-direction row
     img
        margin-bottom 5px
        border 2px ridge


// Footer Section.
.row-footer
  display flex
  background-color $blackgrey
  justify-content space-around
  .footerbox
    padding-top 15px
  .footer-mid, .footer-right
    padding-left 30px
  .footer-titel
    color $white
  .footer-mid img
    margin 4px 2px
    border 1px grey solid
  p
    font-size $font-m
  .darkgrey
    color $darkgrey
  .lightgrey
    color $grey

@media screen and (max-width: 960px)
  .row-quoteSocial
    justify-content center